{{ define "main" }}
  <div class="content">
    <h1>About</h1>
    <p>
      Hi, I'm Brandon Fulljames, a back-end developer that loves Go and building
      stuff in the cloud. This site is an excuse to experiment and branch out a
      little. The exciting stuff is linked in the footer, but maybe over time
      this site will become a little more interesting too!
    </p>
    <p>Relevant personal links:</p>
    <ul>
      <li><a href="https://github.com/evertras">Github</a></li>
      <li>
        <a href="https://www.linkedin.com/in/brandon-fulljames-39a6b6a3/"
          >LinkedIn</a
        >
      </li>
    </ul>
  </div>
{{ end }}
